.file_selected {
    background-color: rgb(96, 96, 96);
}

.file_not_selected {
    background-color: rgb(31, 31, 31);
}

.unity-text-element {
    color: rgba(255, 255, 255, 255);
    -unity-font-definition: resource('Fonts & Materials/press-start-2p-font/PressStart2P-vaV7 SDF');
}
