.selectable {
}

.selectable:hover {
    background-color: rgb(161, 128, 128);
}

.selected {
    background-color: rgb(73, 87, 142);
    -unity-background-image-tint-color: rgba(255, 255, 255, 255);
}

.not_selected {
    background-color: rgba(152, 11, 11, 255);
}
