.battle-label-selected {
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    color: rgb(34, 34, 34);
}

.battle-label {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgb(72, 72, 72);
    border-right-color: rgb(72, 72, 72);
    border-top-color: rgb(72, 72, 72);
    border-bottom-color: rgb(72, 72, 72);
    color: rgb(101, 101, 101);
}
